.body, html {
    margin: 0;
    padding: 0;
    background-color: black;
    color: #FBD757;
    font-family: Arial, sans-serif;
    height: 100%;
}


.container {
    text-align: center; /* Center-aligns the content */
    width: 80vw;
    max-width: 600px; /* Optional: Sets a maximum width for the container */
    margin: 0 auto; /* Centers the container */
    margin-top: 00px;
}

.logo-image {
    width: 60vw; /* Adjust the width as needed */
    max-width: 300px;
    height: auto;
    display: block;
    margin: 140px auto; /* Adds space around the logo and centers it */
}

.title {
    /* Style your title here if needed */
    margin: 60px 0; /* Adds space above and below the title */
}

/* Additional styling for other elements can go here */
