body, html {
    background-color: black;
    color: white;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    text-align: center;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
}


nav {
  display: flex;
  justify-content: center;
}

nav a {
  position: relative;
  display: inline-block;
  color: gold;
  font-size: 22px;
  padding: 0 15px;
}

nav a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 15px; /* Adjust to match horizontal padding of a element */
  right: 15px; /* Adjust to match horizontal padding of a element */
  transform: scaleX(0);
  transform-origin: center;
  height: 2px;
  background-color: #ff00cc;
  transition: transform 0.3s ease-in-out;
}

nav a:hover::after {
  transform: scaleX(1);
}


.hero {
    background-color: black;
    color: gold;
    font-family: sans-serif;
    text-align: center;
    padding: 0px 120px;
    font-size: 36px;
}
.cta-button {
    display: inline-block;
    padding: 20px 40px;
    background: linear-gradient(to right, #007bff, #00bfff);
    color: white;
    text-decoration: none;
    border-radius: 50px;
}

section {
  padding: 60px 300px;
  text-align: center;
  font-size: 26px;
  line-height: 1.4; /* Adjust the line height as needed */
}

  

#logo {
  display: block;
  margin: 80px auto;
  width: 460px;
}

footer {
    background-color: #00;
    padding: 30px 15px;
    
}

footer .section {
  text-align: center;
}


@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
    }

    .hero {
        padding: 60px 15px;
    }

    .cta-button {
        margin-top: 15px;
    }

    section {
        padding: 30px 15px;
    }

   
}
